.leftpanel-container{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0 15px 15px;
    width: 260px;
    background: #eaeaea;
    overflow-y: auto;
}

.leftpanel-container h2{
    font-size:30px;
}

.leftpanel-container .post-option select{
    padding-left: 5px;
    padding-right: 5px;
}